* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  width: 100%;

  
}
.Sobre-Container{
  text-align: center;
}

.mySlides {
  display: none;
  
}

.Sobre-Right img{
  float: right;
  margin: 20px;
  width:170px;
  height:170px;
 
}

.Sobre-Left img{
  float: left;
  margin: 20px;
  width:170px;
  height:170px;
  
}


.Sobre-Right-txt{
  margin: 40px;
  letter-spacing: 0.1em;
  margin-right: 10px;
  padding-left: 50px;
  margin-top: 30px;
}

.Sobre-Left-txt{
  margin: 40px;
  margin-right: 10px;
  letter-spacing: 0.1em;
  padding-left: 50px;
  margin-top: 30px;
}
 /* On bigger screens, increase text size */
 @media only screen and (min-width: 950px) {
  .Sobre-Right img {width:250px}
  .Sobre-Right img {height:250px}
  .Sobre-Left img {width:250px}
  .Sobre-Left img {height:250px}
 }
 
h3 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px #000000;


}


h2{
  text-align: center;
  text-decoration: underline;
}



/*Dots*/
.dots {
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

 /* On bigger screens, increase text size */
 @media only screen and (min-width: 950px) {
  h3 {font-size: 60px}
}


.container-image {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 10px;

  div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("/imgs/JG.jpg") no-repeat 50% / cover;
    }

    &:nth-of-type(2) {
      background: url("/imgs/T.jpg") no-repeat 50% / cover;
    }

    .content-image {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(0deg,
          rgba(2, 2, 46, 0.6755077030812324) 0%,
          rgba(255, 255, 255, 0) 100%);
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #000000;
      transform: translatey(-30px);
    }

    &:hover .content-image {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}