  main{
    justify-content: center;
    display: flex;
    background-image: url(/imgs/cloud.jpeg);
    background-size: cover;
    margin-bottom: 0;
  }
  .contact-content{
    width: 80%;
    margin-top: 30px;
    text-align: left;
    padding: 10rem;
  }
  .contact-title{
    font-size: 55px;
    text-align: center; 
    font-weight: bold;
    margin-top: 2px;
    text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.8);
  }
  /*Text area of Contact us */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    box-shadow: 0 1px 5px black;
    
  }
  
  /*Button submit */
  input[type=submit] {
    background-color: #0b0b04;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  /*Button Submit hover */
  input[type=submit]:hover {
    background-color: #c6190d;
    opacity: 1;
    transition: 1s;
    box-shadow: 0 0 10px black;
  }
  .send-submit{
    text-align: center;
  }
  label{
    font-weight: bold;
  }
@media (max-width: 1000px) {
  .contact-content{
    margin-top: 30px;
    width: 100%;
    margin-top: 30px;
    text-align: left;
    padding: 1rem;
  }
}