*{
  box-sizing: border-box;
}
  main{
    margin-top: 0;
  }
  .gallery{
    margin: 0;
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  figure img{
    width: 100%;
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: transform 1000ms;
  }
  section ul{
    
    list-style: none; /*Isto remove o ponto da lista*/
    margin: 0;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem/*Tamanho da imagem*/, 1fr)); /*Mostrar a lista em grelha*/
    max-width: 100%;
    width: 70rem;
  }
  figure{
    border-radius: 15px;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
/*Este estilo apenas aparece quando o despositivo a ser apresentado é um telemóvel/Tablet*/
@media (hover:none){

  figcaption{
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 85%;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.5);
    transform-origin: center;
    color: white;
    opacity: 1;
    font-size: 25px;
  }
}
/*Este estilo apenas aparece quando o despositivo a ser apresentado é um computador*/
@media (hover:hover){
  /*Criar o background para quando o cursor passa por cima das imagens*/
  figure::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: rgba(0,0,0,0.5);
    transform-origin: center;
    opacity: 0;
    transform: scale(2);
    transition: opacity 300ms;
  }
  /*Estilo para o texto da figura*/
  figcaption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    text-align: center;
    padding: rem;
    color: white;
    font-size: 25px;
    z-index: 1;
    opacity: 0;
    transition: opacity 600ms, transform 600ms;
  }
  /*Fazer com que o background da imagem seja acionado quando o cursor passa por cima da respetiva imagem*/
  a:is(:hover, :focus) figure::after{
    opacity: 1;
  }
  /*Fazer com que o texto da imagem seja acionado quando o cursor passa por cima da respetiva imagem*/
  a:is(:hover, :focus) figcaption{
    opacity: 1;
    transition: opacity 600ms;
  }
  }
@media (prefers-reduced-motion: no-preference){
  figcaption{
    transform: translate3d(0, 2rem, 0);
  }
  figure::after{
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    transition: transform 900ms;
  }
  a:is(:hover, :focus) figure::after {
		transform: scale(2.5);
	}

	a:is(:hover, :focus) figcaption {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: opacity 600ms 400ms, transform 600ms 400ms;
	}

	a:is(:hover, :focus) img {
		transform: scale(1.2);
	}
}