*{
  box-sizing: border-box;
}
  main{
    margin-top: 0;
  }
  .gallery{
    padding: 1rem;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  figure img{
    width: 100%;
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: transform 1000ms;
  }
  section ul{
    list-style: none; /*Isto remove o ponto da lista*/
    margin: 0;
    padding: 1rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem/*Tamanho da imagem*/, 1fr)); /*Mostrar a lista em grelha*/
    max-width: 100%;
    width: 70rem;
  }
  figure{
    border-radius: 15px;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
/*Este estilo apenas aparece quando o despositivo a ser apresentado é um telemóvel/Tablet*/
@media (hover:none){
  
  a{
    text-decoration: none;
  }
  figure{
    padding: 1rem;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 15px 10px 10px grey;
    background-color: #745235d5;
  }
  figure img{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 100%;
  }
  figcaption{
    background-color: rgb(51, 51, 51);
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 30px;
    border-radius: 0px 0px 15px 15px;
  }
}
/*Este estilo apenas aparece quando o despositivo a ser apresentado é um computador*/
@media (hover:hover){
  /*Criar o background para quando o cursor passa por cima das imagens*/
  figure::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: rgba(0,0,0,0.5);
    transform-origin: center;
    opacity: 0;
    transform: scale(2);
    transition: opacity 300ms;
  }
  /*Estilo para o texto da figura*/
  figcaption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    text-align: center;
    padding: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 25px;
    z-index: 1;
    opacity: 0;
    transition: opacity 600ms, transform 600ms;
  }
  /*Fazer com que o background da imagem seja acionado quando o cursor passa por cima da respetiva imagem*/
  a:is(:hover, :focus) figure::after{
    opacity: 1;
  }
  /*Fazer com que o texto da imagem seja acionado quando o cursor passa por cima da respetiva imagem*/
  a:is(:hover, :focus) figcaption{
    opacity: 1;
    transition: opacity 600ms;
  }
  }