/*Carrossel*/
    /*Container*/
    .container-cards{
        width: 100%;
        max-height: 600px;
        height: 100%;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    .carrossel{
        max-width: 600px;
        max-height: 700px;
        display: flex;
        position: relative;
        margin-bottom: 20px;
    }
    /*Estilo dos cards em carrossel*/
    .card{
        display: relative;
        text-align: center;
        background-color: #cfcfcfe8;
        border-radius: 15px;
        flex: 0 0 auto; /* Each card takes the full width of the container */
        transition: transform 0.5s ease-in-out;
        cursor: pointer;
        margin-right: 20px;
        scroll-snap-align: start;
    }
    .card input{
        display: none;
    }
    .card img{
        border-radius: 15px 15px 0px 0px;
    }
    .card p{
        justify-content: center;
        align-items: left;
    }
    .content{
        height: 100px;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

@media (min-width: 600px) {
    .card {
        width: 50%;
    }
}
@media (min-width: 900px){
    .card{
        width: 50%;
    }
}