/*Carrossel*/
/*Container Cards*/
.carousel{
    width: 80%;
    height: auto;
    background-color: blue;
}

.prev-button {
    left: 10px;
}
.next-button {
    right: 10px;
}
@media (min-width: 600px) {
    .carousel-item {
        width: 50%;
    }
}
@media (min-width: 900px){
    .carousel-item{
        width: 50%;
    }
}