/*Carrossel*/
    /*Container Cards*/
    .container-cards{
        padding: 2rem;
        height: 800px;
    }
    /*Wrapper*/
    .slider-wrapper{
        position: relative;
        max-width: 48rem;
        height: auto;
        margin: 0 auto;
    }
    /*Slider*/
    .slider{
        display: flex;
        aspect-ratio: 16 / 9;
        overflow-x: auto; /*Fazer scroll horizontalmente*/
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    }
    .slider-content{
        flex: 1 0 100%; /*Deixa apenas uma imagem visivel*/
        scroll-snap-align: start;
    }
    .slider img{
        width: 100%;
        height: auto;
    }
    /*Slide sides*/
    .left-side{
        width: 50%;
        height: auto;
    }
    .right-side{ 
        width: 30%;
        height: auto;
    }
    /*Slider nav*/
    .slider-nav{
        display: flex;
        column-gap: 1rem;
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    .slider-nav a{
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.75;
        transition: opacity ease 250ms;
    }
    .slider-nav a:hover{
        width: 0.7rem;
        height: 0.7rem;
        opacity: 1;
    }

@media (min-width: 600px) {
    .card {
        width: 50%;
    }
}
@media (min-width: 900px){
    .card{
        width: 50%;
    }
}