/*Estilo HTML e MAIN*/
html {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F1EB;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    display: absolute;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #F2F1EB;
    width: 100%;
    margin-bottom: 40px;
}
body
{
    background-color: #F2F1EB;
    margin:0;
    padding:0;
}
*{
  padding:0;
  margin:0;
}
/*Animações de fade in quando se abre o site*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Animação que faz um elemento deslizar para baixo quando se inicia o site*/
@keyframes slideDown {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*Barra de Navegação*/
.navbar {
    width: 100%;
    background-color: #F2F1EB;
    color: black;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 25px;
    animation: fadeIn 0.5s ease-in-out;
    position: relative;
    font-weight: 900;
}

.navbar h1 {
    font-size: 20px;
    text-shadow: 5px 5px 5px white;
}

.navbar a:hover {
    font-size: 17px;
}
/*Alterações Logo*/
.logo {
    width: 90px;
    height: 50px;
}

.logo-image {
    font-size: 1.8em;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/*Estilo Rodapé*/
footer {
    position:static;
    text-align: center;
    width: 100%;
    bottom: 0px;
    color: rgb(237, 232, 232);
    font-weight: bold;
    background-color: #F2F1EB;
    box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
}
/*Estilo Rodapé de P*/
.footer-info p {
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*class footer info*/
.footer-info {
    padding:40px 100px;
    background-color:#181717b9;
    color:#beb3b392;
  }
  /*class footer ul*/
  .footer-info ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    color: #F2F1EB;
  }
   /*class footer li*/
  .footer-info li {
    padding:0 10px;
  }
  /*class footer ul + a*/
  .footer-info ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
    /*class footer ul + a hover*/
  .footer-info ul a:hover {
    opacity:1;
  }
  

  /*class for class social*/
  .footer-info .social {
    text-align:center;
    padding-bottom:25px;
  }
  .social img{
    width: 40px;
  }
  
  .footer-info .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-info .social > a:hover {
    opacity:0.9;
  }
  
  .footer-info .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }